<header>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jura&family=Kanit:wght@200&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=PT+Serif:wght@400;700&family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jura&family=Kanit:wght@200&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=PT+Serif:wght@400;700&family=Pattaya&family=Righteous&display=swap" rel="stylesheet">
    <div class="header-websitename"><a href="/">SpiceMe</a></div>
    <div class="new1">
        <hr class="new1-line">
    </div>
    <ul class="header-list">

        <% if (currentUser) { %>
            
            <div class="header-welcome">Welcome <%= currentUser.username %></div>
            <li><a href="/recipes/">Home</a></li>
            <li><a href="/recipes/new">Create New Recipe</a></li>
            <li class="header-logout">
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Log out">
                </form>
            </li>
        <% } else { %>
            <li><a href="/recipes/">Home</a></li>
            <li><a href="/recipes/new">Create New Recipe</a></li>
            <li><a href="/sessions/new">Log in </a></li>
            <li><a href="/users/new">Sign up </a></li>
        <% } %>

        <form class="header-search-bar" action="/recipes/search" method="GET">
            <input type="text" name="search" placeholder="Search recipe">
            <button type="submit">Search</button>
        </form>

    </ul>
</header>