<header>
    <!-- <h1 class="header-websitename">SpiceMe</h1> -->
    <ul class="header-list">
        <% if (currentUser) { %>
        <li>Welcome <%= currentUser.username %></li>
        <li>
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Log Out">
            </form>
        </li>
        <% } else { %>
        <li><a href="/sessions/new">Log in </a></li>
        <li><a href="/users/new">Sign up </a></li>
        <% } %>
        <li><a href="/recipes/new">Create new Recipe</a></li>
    </ul>
</header>