<!DOCTYPE html>
<html lang="en">
<body>
    <%- include('./partials/header') %>

    <title>SpiceMe | Create New Recipe</title>

    <div class="create-new-recipe-page">
        <div class="create-new-recipe-card">
            <div class="create-new-recipe-column">
                <h1>Create New Recipe</h1>

                <!-- Create new recipe form -->
                <form action="/recipes" method="POST">
                    Recipe Title:<br> <textarea rows="6" cols="75" required name="title"></textarea><br><br>
                    Cuisine Type:<br> <textarea rows="6" cols="75" required name="cuisine_type"></textarea><br><br>
                    Description:<br> <textarea rows="6" cols="75" required name="description"></textarea><br><br>
                    Prep Time:<br> <textarea rows="1" cols="75" required name="prep_time"></textarea><br><br>
                    Cook Time:<br> <textarea rows="1" cols="75" required name="cook_time"></textarea><br><br>
                    Total Time:<br> <textarea rows="1" cols="75" required name="total_time"></textarea><br><br>
                    Servings:<br> <textarea rows="1" cols="75" required name="servings_amount"></textarea><br><br>
                    Ingredients:<br> <textarea rows="6" cols="75" required name="ingredients"></textarea><br><br>
                    Instructions:<br> <textarea rows="6" cols="75" required name="instructions"></textarea><br><br>
                    Photo:<br> <textarea rows="6" cols="75" required name="img"></textarea><br><br>
                    <input type="submit" value="Create New Recipe"><br><br>
                    
                    <!-- Navigation link -->
                    <nav>
                    <a href="/recipes">Back to Homepage</a>
                    </nav>
                </form>
            </div>
        </div>
    </div>
</body>
</html>