body {
    background-color: rgb(255, 250, 247);
    font-family: 'PT Serif', serif;
    color: rgb(63, 63, 63);
}

h1 {
    text-align: center;
}

textarea {
    font-size: 14px;
    font-family: 'PT Serif', serif;
}

/* HEADER */
.header-websitename {
    color: rgb(60, 60, 60);
    font-size: 55px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Pattaya', sans-serif;
}

.header-websitename a {
    text-decoration: none;
    color: rgb(255, 112, 55);
}

.new1-line {
    border: none;
    border-top: 2px solid rgb(235, 235, 235);
    margin: 10px 0;
}

header {
    padding: 1% 0;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    margin: 0px 10px;
    font-size: 18px;
    background-color: white;
}

.header-welcome {
    margin-left: 10px;
    padding-right: 15px;
    color: rgb(255, 112, 55);
}

.header-list {
    display: flex;
    justify-content: start;
    list-style: none;
    padding: 0;
    margin: 0 10px;
}

.header-list li {
    margin: 0 10px;
}

.header-list a {
    text-decoration: none;
    color: rgb(63, 63, 63);
    /* font-size: 14px; */
}

.header-list a:hover {
    color: rgb(255, 112, 55);
}

.header-logout {
   margin-left: auto;
}

.header-search-bar {
    margin-left: auto;
}

/* INDEX PAGE */
.recipe-allrecipes {
    text-align: left;
    margin: 30px 30px;
    font-size: 30px;
}

.recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1px;
    list-style: none;
    padding: 0;
    margin-right: 0px;
}

.recipe-item {
    border: 1px solid rgb(244, 244, 244);
    background-color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    height: auto;
    margin: 0px 10px;
    margin-bottom: 20px;
}

.recipe-item a {
    text-decoration: none;
    display: block;
}

.recipe-image img {
    width: 262px;
    height: 275px;
    object-fit: cover;
}

.recipe-details {
    padding : 5px 10px;
    text-align: left;
}

.recipe-title {
    font-size: 17px;
    font-weight: 700;
    color: rgb(60, 60, 60);
    text-align: left;
    font-family: 'PT Serif', serif;
}

.recipe-description {
    color: rgb(60, 60, 60);
    font-size: 15px;
    padding: 5px 0px;
    word-break: break-word;
    font-family: 'PT Serif', serif;
}

.search-recipe-description {
    color: rgb(60, 60, 60);
    font-size: 15px;
    padding: 5px 0px;
    word-break: break-word;
    font-family: 'PT Serif', serif;
}

.recipe-owner {
    font-size: 13px;
    color: rgb(60, 60, 60);
    padding: 1px 0px;
    font-family: 'PT Serif', serif;
}

/* LOGIN & SIGN UP FORM */
.login-card, .sign-up-card {
    background-color: rgb(255, 231, 220);
    box-shadow: 0 10px 50px -30px black;
    border-radius: 30px;
    display: flex;
    padding: 80px;
    text-align: left;
    width: 40em;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 25px;
    margin-left: 20px;
}
.login-column, .create-new-recipe-column, .sign-up-column, .edit-recipe-column {
    padding: 0 10px;
}

.login-card h1, .create-new-recipe-card h1, .sign-up-card h1, .edit-recipe-column h1, .recipe-showpage-column h1 {
    text-align: left;
}

/* EDIT & CREATE RECIPE FORM */
.edit-recipe-page, .create-new-recipe-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -10vh;
}

.create-new-recipe-card, .edit-recipe-card {
    background-color: rgb(255, 231, 220);
    border-radius: 15px;
    display: flex;
    padding: 40px;
    text-align: left;
    width: 40em;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 25px;
    margin-left: 20px;
}

/* EDIT FORM */
#edit-form {
    background-color: #c9c9c9;
    border: none;
    color: rgb(63, 63, 63);
    padding: 5px 25px;
    text-align: center;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    text-decoration: none;
    margin-left: auto;
    float: right;
}

/* SHOW PAGE */
.recipe-showpage-body {
    background-color:rgb(255, 250, 247);
}

.recipe-showpage-card {
    background-color: white;
    border: 1px solid rgb(244, 244, 244);
    padding: 50px;
    text-align: left;
    width: 50em;
    margin-top: 25px;
    margin-left: 20px;
}

.recipe-showpage-column {
    padding: 0px 0px;
    white-space:pre-line;
}

.recipe-showpage-image {
    max-width: 50%; 
    max-height: auto; 
    object-fit: contain;
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

.recipe-showpage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -10vh;
}

#delete-button:hover, #edit-form:hover {
    background-color: rgb(255, 112, 55);
    color: white
  }

.recipe-showpage-bold-text {
    font-weight: bold;
    display: inline;
    margin-right: 5px;
    }

/* DELETE POPUP */
.popup-overlay {
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#delete-button {
    background-color: #c9c9c9;
    border: none;
    color: rgb(63, 63, 63);
    padding: 5px 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    font-family: 'PT Serif', serif;
    font-weight: bold;    
    margin-left: auto;
    float: right;
}

@media (max-width: 600px) {
    header {
        padding: 1% 0;
        font-family: 'PT Serif', serif;
        font-weight: 700;
        margin: 0px 5px;
        font-size: 12px;
        background-color: white;
    }

    .header-list {
        display: grid;
        justify-content: center;
        list-style: none;
        margin-bottom: 10px;
        text-align: center; 
    }

    .header-list li {
        margin-bottom: 5%;
    }

    .header-list a {
        font-size: 14px;
    }

    .header-welcome {
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: bolder;
    }

    .login-card, .sign-up-card {
        width: auto;
        height: auto;
        font-size: 12px;
    }

    .recipe-allrecipes {
        text-align: left;
        margin: 30px 15px;
        font-size: 25px;
        font-weight: 700;
    }

    .recipe-image img {
        width: 340px;
        height: 400px;
    }

    .create-new-recipe-card, .edit-recipe-card {
        width: 15em;
        margin-right: 25px;
    }

    textarea {
        width: 100%;
        height: 150px;
        resize: vertical;
    }

    .create-new-recipe-column {
        font-size: 12px;
    } 

    .recipe-showpage-card {
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .recipe-showpage-image {
        max-width: 100%; 
        max-height: auto; 
        padding-bottom: 0px;
    }
    
    #delete-button {
        text-align: center;
        font-size: 12px;
        margin-top: -30px;
    }

    #edit-form {
        padding: 5px 22.5px;
        font-size: 12px;
        margin: 4px;
        margin-top: -20px;
    }

    .login-column, .sign-up-column {
        margin-top: -50px;
    }
    
}

@media (max-width: 900px) {
    .login-card, .sign-up-card {
        width: auto;
    }

    .header-list {
        display: flex;
        justify-content: center;
        list-style: none;
        margin-bottom: 10px;
        text-align: center; 
    }


}