<!DOCTYPE html>
<html lang="en">
<body>
    <%- include('../partials/header.ejs') %>

    <title>SpiceMe | Login</title>

    <div class="login-card">
        <div class="login-column">
            <h1>Login</h1>

            <!-- Login form -->
            <form action="/sessions" method="POST">
                Username: <br><input required type="text" name="username"><br>
                Password: <br><input required type="password" name="password" id="myInput"><br>
                <input type="checkbox" onclick="togglePassword()">Show password<br><br>
                <input type="submit" value="Login">
            </form>
            
            <!-- Display message from sessions.js-->
            <% if (message) { %>
                <div class="message">
                    <p><%= message %> <a href="/sessions/new"> </a></p>
                </div>
            <% } %>

            <!-- Navigation links -->
            <nav>
                <br>Need an account? <a href="/users/new">Sign up</a>
                <br><a href="/recipes">Back to Homepage</a>
            </nav>
        </div>
    </div>

    <!-- Script to Toggle Password Visibility -->
    <script>
        function togglePassword() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
</body>
</html>