<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>SpiceMe | Login</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="login-card">
        <div class="login-column">
            <h1>Login</h1>

            <!-- Login form -->
            <form action="/sessions" method="POST">
                Username: <br><input required type="text" name="username"><br>
                Password: <br><input required type="password" name="password"><br><br>
                <input type="submit" value="Login">
            </form>
            
            <!-- Display message from sessions.js-->
            <% if (message) { %>
                <div class="message">
                    <p><%= message %> <a href="/sessions/new"> </a></p>
                </div>
            <% } %>

            <!-- Navigation links -->
            <nav>
                <br>Need an account? <a href="/users/new">Sign up</a>
                <br><a href="/recipes">Back to Homepage</a>
            </nav>
        </div>
    </div>
</body>
</html>