<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up page</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>Sign up</h1>
    <form action="/users" method="POST">
        Username: <input required type="text" name="username"><br>
        Password: <input required type="password" name="password"><br>
        <input type="submit" value="SIGNUP">
    </form>
    <nav>
        <a href="/recipes">Back to Recipes Index</a>
    </nav>
</body>
</html>