<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>SpiceMe | Sign up</title>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="sign-up-card">
        <div class="sign-up-column">
            <h1>Sign up</h1>
            
            <form action="/users" method="POST">
                Username: <br><input required type="text" name="username"><br>
                Password: <br><input required type="password" name="password"><br><br>
                <input type="submit" value="Sign up">
            </form>

            <div class="message">
                <% if (message) { %>
                    <p><%= message %> <a href="/sessions/new"> log in </a></p>
                <% } %>
            </div>

            <nav>
                <br>Already have an account? <a href="/sessions/new">Log in</a>
                <br><a href="/recipes">Back to Homepage</a>
            </nav>
        </div>
    </div>
</body>
</html>